@mixin size($w, $h: $w) {
  width: $w;
  height: $h;
}

@mixin min-size($w, $h: $w) {
  min-width: $w;
  min-height: $h;
}

@mixin max-size($w, $h: $w) {
  max-width: $w;
  max-height: $h;
}

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}

@mixin horizontal-center {
  left: 50%;
  transform: translateX(-50%);
}

@mixin vertical-center {
  top: 50%;
  transform: translateY(-50%);
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translate(-50%, -50%);
}
